<%- layout("Layouts/boilerplate") %>

<div class="row col-8 offset-2 mt-3">
<h3>Edit Listing</h3>
<form action="/listings/<%= EditData._id %>?_method=PUT" enctype="multipart/form-data" method="post">

<div class="mb-3">
    <label for="title">Title</label>
    <input type="text" id="title" name="Listing[title]" class="form-control" value="<%= EditData.title %>">
</div>

<div class="mb-3">
    <label for="description">Description</label>
    <input type="text" id="description" name="Listing[description]" class="form-control" value="<%= EditData.description %>">
</div>

<div class="mb-3">
    <label for="image">Image</label>
    <input type="file" id="image" name="Listing[image]" class="form-control">
</div>

<div class="row">
     <div class="col-md mb-3">
        <label for="price" class="form-label">Price:</label>
        <input type="number" name="Listing[price]" class="form-control" id="price" placeholder="1200rs" value="<%= EditData.price %>" >
    </div>

    <div class="col-md mb-3">
        <label for="country" class="form-label">Country:</label>
        <input type="text" name="Listing[country]" class="form-control" id="country" placeholder="Enter Country" value="<%= EditData.country %>">
    </div>


</div>

<div class="mb-3">
    <label for="location">Location</label>
    <input type="text" id="title" name="Listing[location]" class="form-control" value="<%= EditData.location %>">
</div>
<button class="btn btn-danger mt-2">Submit</button>
</form>
</div>